<p id="notice"><%= notice %></p>

<h1>ごはんおみくじ</h1>

<table>
    <%= link_to "START",result_restaurants_path, class: 'btn btn-default' %>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
